.items{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 1px;
    margin: 0;
}

.title{
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    padding-left: 15px;
}
